# Linkedin - https://www.linkedin.com/in/dzikri-alan/
DATABASE_URL="hire-me"
SUPABASE_URL="hire-me"
SUPABASE_ANON_KEY="hire-me"
SUPABASE_KEY="hire-me"
DEEPSEEK_API_KEY="hire-me"
JINA_API_KEY="hire-me"
GOOGLE_CLIENT_ID="hire-me"
GOOGLE_CLIENT_SECRET="hire-me"
GOOGLE_REDIRECT_URI="hire-me"
NEXT_PUBLIC_API_BASE_URL="hire-me"
NEXTAUTH_SECRET="hire-me"
NEXTAUTH_URL="hire-me"
NEXT_PUBLIC_SUPABASE_URL="hire-me"
NEXT_PUBLIC_SUPABASE_ANON_KEY="hire-me"